/* reset style start here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  cursor: pointer;
  list-style-type: none;
}
button {
  cursor: pointer;
}
/* reset style end here */

/* primary styles start here */
:root {
  --main-fonts: "Poppins", sans-serif;
  --sec-fonts: "Roboto", sans-serif;
  --btn-clr: #21b573;
}

.primary-btn {
  padding: 0.3rem 0.8rem;
  border: none;
  background-color: var(--btn-clr);
  color: white;
  font-size: 12px;
  font-weight: 200;
  text-transform: capitalize;
  border-radius: 12px;
}
/* primary styles end here*/

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* header section start here */
.sub-contain {
  width: 100%;
  background-color: #f0fff0;
}
header {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo img {
  width: 100px;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 1rem;
}
nav ul li {
  text-decoration: none;
  text-transform: capitalize;
  font-family: var(--main-fonts);
  margin: 0.2rem;
  padding: 0.6rem;
  font-size: 12px;
}
nav ul li a{
  text-decoration: none;
  color: black;
}
/* header section end here */

/* hero section start here */
.hero-section {
  width: 80%;
  margin: 3.8rem auto;
  display: flex;
  padding-bottom: 1.4rem;
  font-family: var(--main-fonts);
}
.hero-section .content-area p:nth-child(1) {
  font-size: 12px;
  color: #fd511a;
}
.hero-section .content-area h1 {
  margin: 0.6rem 0;
}
.hero-section .content-area h1 span {
  color: #21b573;
}
.hero-details {
  font-size: 12px;
  color: #6c6b6b;
}
.hero-section .img-area {
  width: 60%;
}
.hero-section .img-area img {
  width: 100%;
}
.hero-section button {
  margin: 0.8rem 0;
}

/* hero section end here */

/* satistics section start here */
.satistics-section {
  width: 80%;
  margin: 3.8rem auto;
  display: flex;
}

.satistics-section .cards {
  width: 92%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-family: var(--main-fonts);
}
.satistics-section .cards .card {
  background-color: #f5fffa;
  /* padding: 1.6rem 1rem; */
  padding: 1.8rem 1rem;
}
.satistics-section .cards .card:nth-child(2) {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.satistics-section .main-headline {
  font-weight: bold;
  margin: 0.2rem 0rem;
}
.satistics-section .sub-headline {
  font-size: 12px;
  color: #585859;
}
.satistics-section .card img {
  width: 50px;
}
/* satistics section end here */

/* courses section start here */
.courses-section {
  width: 80%;
  margin: 3.8rem auto;
  text-align: center;
}
.courses-section h2 {
  text-align: center;
  font-family: var(--main-fonts);
  margin-bottom: 2rem;
  margin-top: 4rem;
}
.courses-section .cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: var(--main-fonts);
  text-align: left;
}
.courses-section .cards .card {
  width: 28%;
  padding: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 8px;
}
.courses-section .cards .card h4 {
  text-transform: capitalize;
}
.courses-section .cards .card p {
  font-size: 11px;
  color: gray;
}
.courses-section .cards .card button {
  margin: 6px 0px;
}
.courses-section .cards .card img {
  width: 100%;
}

.courses-section .card-footer {
  display: flex;
  justify-content: space-between;
  margin: 0.8rem 0;
}
.courses-section .date-area,
.courses-section .seat-area {
  display: flex;
  gap: 8px;
  align-items: center;
}
.courses-section .fa-solid,
.courses-section .fa-regular {
  color: gray;
}
.courses-section .all-courses-btn {
  margin: 2rem 0;
  
}
.courses-section .all-courses-btn a{
  text-decoration: none;
  color: white;
}
/* courses section end ehere */

/* testimonial section start here */
.testimonial-section {
  width: 80%;
  margin: 3.8rem auto;
  font-family: var(--main-fonts);
}
.testimonial-section h2 {
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 1rem;
}
.testimonail-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.testimonail-hero .content-area p {
  font-size: 12px;
  font-weight: bold;
}

.testimonial-section .img-area img {
  width: 80px;
}
/* testimonial section end here */

/* footer section start here */
footer {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #282531;
  padding: 3rem 0;
}
footer img{
  width: 120px;
}
.footer-content-area{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  color: white;
  font-family: var(--main-fonts);
  font-size: 10px;
  
}
footer .logo-area img{
  margin-bottom: 2rem;
}
footer .logo-area p{
  font-size: 10px;
}
footer h3{
  font-weight: 600;
  text-transform: capitalize;
}
footer .footer-content-area ul li{
  font-weight: 200;
}



/* copyright section */
.copyright{
  text-align: center;
  margin-top: 1.8rem;
  font-size: 12px;
  color: gray;
  font-family: var(--main-fonts);

}
/* copyright section */
/* footer section end here */





/* responsive part start here */
@media screen and (max-width: 1024px){
  .courses-section .cards .card {
    width: 32%;
  }
}


@media screen and (max-width: 768px){
  .satistics-section .cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .courses-section .cards{

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .courses-section .cards .card{
    width:100%;
  }
}



@media screen and (max-width: 640px){
  .logo img{
    width: 70px;
  }
  nav ul li {
    
    
    
    margin: 0rem;
    padding: 0.2rem;
    font-size: 10px;
  }
  .primary-btn{
    padding: 0.3rem 0.6rem;
    font-size: 10px;
  }
  header{
    padding: 0.6rem 0rem;
  }
  .hero-section .content-area h1{
    font-size: 22px;
  }
  .hero-section .content-area p{
    font-size: 10px;
  }

  .courses-section .cards{
    width:100%;
  }
  .courses-section .cards .card p{
    font-size: 8px;
  }
  .courses-section .cards .card h4{
    font-size: 12px;
  }

  .testimonial-section h2{
    font-size: 16px;
  }
  .testimonail-hero .content-area p{
    font-size: 9px;
  }
  .testimonail-hero .img-area img{
    width: 60px;
  }

  .footer-content-area{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    place-items: center;
    margin: 0 auto;
  }
  .footer-content-area p{
    font-size: 6px;

  }
  .footer-content-area .special-font{
    font-size: 8px;

  }
  .copyright{
    font-size: 10px;
  }
}




@media  screen and (max-width: 560px) {

  header{
    flex-direction: column;
  }
  .hero-section{
    flex-direction: column;
    align-items: center;
  }
  .satistics-section .cards{
    grid-template-columns: 100%;
  }
  .courses-section .cards{
    grid-template-columns: 100%;
  }
  .courses-section .cards .card p{
    font-size: 14px;
  }
  .courses-section .cards .card h4{
    font-size: 16px;
  }

  .primary-btn{
    padding: 0.3rem 0.8rem;
    font-size: 12px;
  }

}
/* responsive part end here */